@import "@fontsource/vazirmatn";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;

  font-family:
    "Vazirmatn",
    "Vazir",
    Tahoma,
    Arial,
    sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}